# This pipeline triggers on pushes to the 'main' branch
trigger:
- main

# This uses a free Linux build machine
pool:
  vmImage: 'ubuntu-latest'

# Variables. 
variables:
  # Docker Hub username
  dockerHubUsername: 'codebymathabo' 
  
  # The name of the created image
  imageRepository: 'torotrack' 
  
  # Path to tell the pipeline where to find the Dockerfile
  dockerfilePath: 'ToroTrack/Dockerfile' 

# These are the pipeline steps
steps:
- task: Docker@2
  displayName: Build Docker Image
  inputs:
    command: 'build'
    # This tells Docker where the Dockerfile is
    dockerfile: $(dockerfilePath) 
    # This "tags" the image with the full Docker Hub name
    tags: |
      $(dockerHubUsername)/$(imageRepository):$(Build.BuildId)
      $(dockerHubUsername)/$(imageRepository):latest

- task: Docker@2
  displayName: Push Image to Docker Hub
  inputs:
    # The name of the Docker Hub connection that is created in Project Settings
    containerRegistry: 'DockerHubConnection' 
    command: 'push'
    # These are the tags to push
    tags: |
      $(dockerHubUsername)/$(imageRepository):$(Build.BuildId)
      $(dockerHubUsername)/$(imageRepository):latest